@import "tailwindcss";

@font-face {
    font-family: "Itim";
    src: url("./Assets/fonts/Itim-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./Assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./Assets/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./Assets/fonts/Poppins-semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("./Assets/fonts/Poppins-bold") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@theme {
    --font-itim: "Itim", sans-serif;
    --font-poppins : "Poppins",sans-serif;
  }

html {
    scroll-behavior: smooth;
}